/*=====================
    Font
=======================*/
@font-face {
    font-family: 'aaarghnormal';
    src: url('../font/Aaargh-webfont.eot');
    src: url('../font/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Aaargh-webfont.woff') format('woff'),
         url('../font/Aaargh-webfont.ttf') format('truetype'),
         url('../font/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'weather';
    src: url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.eot');
    src: url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.woff') format('woff'),
         url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://dl.dropboxusercontent.com/u/2086809/weatherfont/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

/*=====================
    Background
=======================*/
/*winds*/
.bg23,
.bg24
 {
  background: darkcyan;
  width: 100%;
  height: 100%;
}

/*severe weather and hazardous road conditons*/
.bg0,
.bg1,
.bg2,
.bg3,
.bg5,
.bg6,
.bg7,
.bg8,
.bg9,
.bg10,
.bg13,
.bg15,
.bg23,
.bg35,
.bg36,
.bg41,
.bg43 {
  background: tomato;
  width: 100%;
  height: 100%;
}

/*reduced visibility*/
.bg19,
.bg20,
.bg21,
.bg22 {
  background: black;
  width: 100%;
  height: 100%;
}


/*Rain*/
.bg11,
.bg12,
.bg40,
 {
 background: dimgray;
 width: 100%;
 height: 100%;
}
 
/*Snow*/
 .bg14,
 .bg16,
 .bg42, 
 .bg46 {
background: darkgray;
width: 100%;
height: 100%;
}

/*day time cloudy*/
 .bg26,
 .bg28,
 .bg30, 
 .bg44 {
 background: lightsteelblue;
 width: 100%;
 height: 100%;
}

/*sunny*/

.bg32,
.bg33 {
 background: goldenrod;
 width: 100%;
 height: 100%;
}

/*night*/
.bg27,
.bg29,
.bg33 {
  background: #000033;
  width: 100%;
  height: 100%;
}

/*Error*/

.bg3200 {
  background: white;
  width: 100%;
  height: 100%;
}

/*=====================
    Font styling
=======================*/

#weather {
  text-align: center;
  text-transform: uppercase;
}

i {
  color: white;
  font-family: weather;
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
li{
 font-family: 'aaarghnormal';
	color: white;
}

/*=====================
    weather display
=======================*/


.cityAndState {
  padding-top: 50px;
  margin: 0;
}

.wthCd {
  font-size: 8em;
  margin: 0; 
  position: absolute;
  top: 15px;
  left: 250px;
}


.tempDis{
  margin-top: 0;
  font-size: 4em;

}


/*=====================
    Ext Forecast
=======================*/
 ul {
  margin: none;
 }

 li i{
  position: relative;
  top: 35px;
  right: 25px;
  font-size: 2.5em;
}

.extForecastone,
.extForecasttwo,
.extForecastthree,
.extForecastfour {
  display: inline;
  list-style: none;
  padding: 7px;
}


/*=====================
    Styling Geo Location
=======================*/


button{
  background: grey;
  font: 'Open Sans', "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-transition: background-color 600ms ease-out;
-moz-transition: background-color 600ms ease-out;
transition: background-color 600ms ease-out;
margin-top: 20px;
}

button:focus,
button:hover,
button:active {
  background: darkgrey;
}

.city,
.icon {
  margin: 0;
}

.temp {
  font-size: 4em;
}

.current i {
  font-size: 3em;
  position: absolute;
  top: 95px;
  left: 240px;
}


